<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<body bgcolor="blue">
<div class = "jumbotron" style = "margin - bottom: 0px;">
	<h1 class = "display-4">Fotografia.net</h1>
	<p class="lead">Cerca e scegli le immagini che piu' ti piacciono.</p>
  <hr class="my-4">
	</div>
<nav class="navbar navbar-expand-lg navbar-primary bg-light fixed-top">
  <a class="navbar-brand" href="/homeutente">Fotografia.net</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/homeutente">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/addfotografo">AggiungiDati <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fotografo/tutti">Fotografi</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Upload <span class="sr-only">(current)</span></a>
      </li>
      <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" nome = "s" placeholder="Cerca fotografi">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Cerca</button>
    </form>
    </ul>
    <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
    <a href="javascript: document.logoutForm.submit()" > Logout</a>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
      <input hidden type="submit" value="Logout"/>
</form> 
  </div>
</nav>
<div th:each="immagine: ${immagini}" class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" th:src="${immagine.link}" alt="Card image cap">
  <div class="card-body">
    <h5 th:text="${immagine.titolo}"class="card-title">Card title</h5>
    <p th:text="${immagine.descrizione}"class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</body>